<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Register</title>
</head>
<body>
<div class="topLogo">
    <div class="logo">logo</div>
</div>
<div class="container">
    <div class="main">
        <div class="showSlogan">
            <p class="slogan">SLOGAN</p>
            <p class="sentence">One sentence introduce</p>
        </div>
        <div class="signLog">
            <a style="font-size:1.25em;" href="/login">Login</a>
            <a style="font-size:1.125em;" href="/signup">Sign up</a>
        </div>
    </div>

    <div class="newReview">
        <h1 class="nrTitle">Newest reviews</h1>
                <ul id="indexFeed">

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <p><b>Developer:</b> Timurhan Calisiyor, Emil Toivainen, Yiyan Zhang</p>
    <p><b>Github:</b><a href="https://github.com/YetiTmi/Review-Central"></a> https://github.com/YetiTmi/Review-Central</p>
    <p><b>Contact us:</b> yiyanz@metropolia.fi</p>
</div>
<script type="text/javascript" src="/index.js"></script>
</body>
</html>