<!DOCTYPE html>
<html lang="en">

<head>
<link rel="shortcut icon" href="../sources/ICON_1.ico" type="image/x-icon" media="screen">
<link rel="stylesheet" type="text/css" href="css/loginSignin.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Login Register</title>
<link rel="stylesheet" type="text/css" href="css/loginSignin.css">
</head>

<body>
<div class="container">
        
    <div class="Login">
        <h2>Login</h2>
        
        <form action="/node/login" method="post" class="form">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="submit">
                <button type="submit" >➔</button>
            </div>
            </form>
                <% if(message.length > 0) { %>
                    <div id="warning"><%= message %>
                    </div>
                <% } %>
            </div>
        
    <p>Need an account? <br> <a href="signup">Register here</a></p>
    <p>Go Back <br><a href="/node/">Home</a></p>
        
</div>
</body>
</html>