<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{
         padding:50px;
         background-color: lightgray;
         border-radius: 15px;
        }
        .profile{
          float: right;
          padding: 20px;
          width: 150px;
          background-color:lightcyan;
          border-radius: 30px;
      
        }
        .profilepic{
          background-color: rgb(8, 161, 161);
          padding: 10px;
          border-radius: 30px;
          margin-left: 37px;
        }
       </style>
      </head>
      <body>
          <div class="profile">
        
             </div>
       <div class="container">
        <div class="page-header text-center">
            <h1>Main feed</h1>
            <button><a href="/profile">profile</a></button>
            <button><a href="/logout">logout</a></button>
        </div>
        <ul>
         
            </ul>
       </div>
      

</body>
</html>