<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="./style.css">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>

</head>
      <body>
          <div class="profile">
        
             </div>
       <div class="container">
        <div class="page-header text-center">
            <h1>Main feed</h1>
            <button><a href="/profile">profile</a></button>
            <button><a href="/logout">logout</a></button>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <h2></h2>
              </div>
              <div class="flip-box-back">
              </form>
              <h1>upload Image</h1>
              <form action="/images" id="updateform">
                  <input type="text" name="category" placeholder="Category">
                  <br>
                  <input type="text" name="title" placeholder="Title">
                  <br>
                  <input type="text" name="details" placeholder="Details">
                  <br>
                  <input type="hidden" name="mID">
                  <button type="submit" disabled>Submit</button>
              </form>
              </div>
            </div>
          </div>
       </div>
      

</body>
</html>