<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <style>
  body{
   padding:50px;
   background-color: lightgray;
   border-radius: 15px;
  }
  .profile{
    float: right;
    padding: 20px;
    width: 150px;
    background-color:lightcyan;
    border-radius: 30px;

  }
  .profilepic{
    background-color: rgb(8, 161, 161);
    padding: 10px;
    border-radius: 30px;
    margin-left: 37px;
  }
 </style>
</head>
<body>
    <div class="profile">
      <p>user: <% user %></p>
       </div>
 <div class="container">
  <div class="page-header text-center">
    <h1>profile</h1>
    <a href="/Mainfeed">Main feed</a>
    <a href="/logout">logout</a>
  </div>
  <ul>
   
      </ul>
 </div>

</body>
</html>