<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="sources/ICON_1.ico" type="image/x-icon" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Profile</title>
</head>
<body>
<div class="top">
    <div class="topbar">
        <div class="topLeft">profile</div>
        <div class="topRight">
            <a href="Mainfeed"><img src="sources/ICON_1.ico"/> Main feed</a>
            <a href="logout"><i class="fas fa-sign-out-alt"></i> logout</a>
        </div>
    </div>
</div>
<div class="side">
    <div class="profile">
        <ul id="user"></ul>
    </div>
</div>

<h1>Own posts</h1>
    <div class="main">

        <ul id="Ownfeed">
            <!--
                   <li>
                   <div class="container">
                       <div class="overlay">
                           <div class="buttonDiv">
                               <button id="but">delete</button>
                               <button> update</button>
                           </div>
                           <div class="info">
                               <div class="productName"</div>
                               <div class="likeNo></div>
                           </div>
                       </div>
                       <img></img>
                   </div>
                   </li>
                   -->
        </ul>
    </div>
</div>

<div class="footer">
    <p><b>Developer:</b> Timurhan Calisiyor, Emil Toivainen, Yiyan Zhang</p>
    <p><b>Github:</b><a href="https://github.com/YetiTmi/Review-Central"></a> https://github.com/YetiTmi/Review-Central
    </p>
    <p><b>Contact us:</b> yiyanz@metropolia.fi</p>
</div>

<script type="text/javascript" src="main.js"></script>
</body>
</html>