<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
        <div class="topLogo">
            <div class="logo">logo</div>
        </div>
        
        <div class="container">
            <div class="main">
                <div class="showSlogan">
                    <p class="slogan">SLOGAN</p>
                    <p class="sentence">One sentence introduce</p>
                </div>
                <div class="signLog">
                    <a style="font-size:1.25em;" href="/login">Login</a>
                    <a style="font-size:1.125em;" href="/signup">Sign up</a>
                </div>
            </div>
        </div>
        
        <!-- This div contains search and categories -->
<div class="searchCategories"> <!-- area for search bar-->
    <form class="searchCategories" action="/search" method="post" enctype="multipart/form-data" id="searchform">
        <a>Search by rating</a>
       <!--<input type="range" min="1" max="5" id="searchinput" name="rating" > --> 
       <span class="rating">
            <input type="radio" class="rating-input"
               id="rating-input-1-5" name="rating-input-1" value="5">
            <label for="rating-input-1-5" class="rating-star"></label>
            <input type="radio" class="rating-input"
               id="rating-input-1-4" name="rating-input-1" value="4">
            <label for="rating-input-1-4" class="rating-star"></label>
            <input type="radio" class="rating-input"
               id="rating-input-1-3" name="rating-input-1" value="3">
            <label for="rating-input-1-3" class="rating-star"></label>
            <input type="radio" class="rating-input"
               id="rating-input-1-2" name="rating-input-1" value="2">
            <label for="rating-input-1-2" class="rating-star"></label>
            <input type="radio" class="rating-input"
               id="rating-input-1-1" name="rating-input-1" value="1">
            <label for="rating-input-1-1" class="rating-star"></label>
        </span>

        <button type="submit" id="buttonsearch">Search!</button>        
    </form>
</div>
        
        <div >
                <ul id="categories">
                    <li>
                        <form action="/phone" method="post" enctype="multipart/form-data" id="phoneform">
                            <input type="text" id="phone" name="category" value="Mobilephone" hidden>
                            <button class="catItem" type="submit" id="categoryphone">Phones</button>
                        </form>
                    </li>
        
                    <li>
                        <form action="/television" method="post" enctype="multipart/form-data" id="tvform">
                            <input type="text" id="television" name="category" value="Television" hidden>
                            <button class="catItem" type="submit" id="categorytv" >Televisions</button>
                        </form>
                    </li>
        
                    <li>
                        <form action="/computer" method="post" enctype="multipart/form-data" id="computerform">
                            <input type="text" id="computer" name="category" value="Computer" hidden>
                            <button class="catItem" type="submit" id="categorycomputer" >Computers</button>
                        </form>
                    </li>
        
                    <li>
                        <form action="/tablet" method="post" enctype="multipart/form-data" id="tabletform">
                            <input type="text" id="tablet" name="category" value="Tablet" hidden>
                            <button class="catItem" type="submit" id="categorytablet" >Tablets</button>
                        </form>
                    </li>
        
                </ul>
            </div>
        
        <div class="container">
            <div class="newReview">
                <h1 class="nrTitle">Newest reviews</h1>
                <ul id="imagefeed">
        
                </ul>
            </div>
        </div>
        
        <div class="footer">
            <p><b>Developer:</b> Timurhan Calisiyor, Emil Toivainen, Yiyan Zhang</p>
            <p><b>Github:</b><a href="https://github.com/YetiTmi/Review-Central"></a> https://github.com/YetiTmi/Review-Central</p>
            <p><b>Contact us:</b> yiyanz@metropolia.fi</p>
        </div>
        
        <script type="text/javascript" src="/indexpage.js"></script>
        </body>
</html>