<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <style>
   body{
         padding:50px;
         background-color: lightgray;
         border-radius: 15px;
        }
 </style>
</head>
<body>
 <div class="container">
  <div class="jumbotron text-center">
   <a href="/login">Login</a>
   <a href="/signup">Register</a>
  </div>
 </div>
</body>
</html>