* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-height: 2000px;
}

.topLogo {
    margin: 0;
    padding:0;
    background-color: #333333;
    display: flex;
}
.logo {
    color: #f7f8f5;
    text-align: center;
    padding:8px;
    background-color:#dfddd1;
    /*background-image: ;*/
}

.container {
    background-color: #dfddd1;/*the same as logo's bgcolor*/
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 570px; /* Should be removed after have a background image*/
    background-image: url('../sources/background_standard.jpg');
    background-size: 100%;
    background-repeat:no-repeat;
    opacity:0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.showSlogan{
    color: #fef659;
    text-align: center;
}
.slogan {
    margin-bottom: 0;
    font-size: 2.5em;
}
.sentence {
    margin-top: 0;
    font-size: 0.5em;
    margin-bottom: 40px;
}

.signLog {
    display: flex;
    flex-direction: column
}
.signLog a{
    color: #f1f1f1;
    padding: 0 20px 8px 20px;
    text-decoration: none;
    text-align: center;
}
.signLogView a:hover {
    background-color: #f1f1f1;
    color: black;
}

.newReview{

}
.nrTitle{
    text-align: center;
}

#indexFeed {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
#indexFeed li{
    width: 30%;
    margin: auto;
}
#indexFeed div{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}
#indexFeed img{
    width: 100%;
    height: 100%;
}
#indexFeed p{
    font-size: 1.6em;
    font-weight: bold;
    margin: auto;
}

.footer {
    background-color: #333333;/*the same as topbar's bgcolor*/
    padding: 10px;
    text-align: center;
    color: #f2f2f2;/*the same as logo's color*/
}

#categories {
    list-style-type: none;
    background-color: #333333;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0;
    padding: 10px 0px 10px 0px;

}

.catItem {
    background-color: #333333;
    border: none;
    padding: 12px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    flex-basis: 10%;
}

.searchCategories {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 15px;
    background-color: #333333;
    color: #dfddd1;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}

#buttonsearch {
    background-color: #333333;
    border: none;
    color: #dfddd1;
    padding: 12px 4px 12px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star,
.rating:hover .rating-star {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../sources/star3.png') 0 -16px;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}