body{
    margin: 0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-height: 2000px;

}
.topbar {
    width: 100%;
    height: 320px;
    background-image: url('../sources/background_standard.jpg');
    background-size: 100%;
    background-repeat:no-repeat;
    opacity:0.8;
    display: flex;
    flex-direction: column;
}

.topLeft {
    color: #f2f2f2;
    text-align: center;
    font-size: 2em;
    padding: 8px;
}

.topRight {
    text-align: center;
    font-size: 1.5em;
    padding: 8px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    border: solid 2px;
    border-radius: 7px;
}
.row {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.main {
    flex: 75%;
}

.side {
    flex: 25%;
}

@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}

#imagefeed{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.box{
    width: 30%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}
.box img{
    width: 100%;
    height: 100%;
}

.profile{
    margin: 2%;
    padding: 6%;
    display: flex;
    flex-direction: column;
    background-color:lightcyan;
    border-radius: 30px;
    align-items: center;
    font-size: 1.5em;
}
.profile button{
    margin: 1%;
    width: 19%;
    font-size: 0.6em;

}
/*
.profilepic{
    background-color: rgb(8, 161, 161);
    padding: 10px;
    border-radius: 30px;
    margin-left: 37px;
}
*/

.flip-box {
    margin: 0;
    background-color: transparent;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    -webkit-perspective: 1000px; /* Safari and Chrome */
}

.flip-box-inner {

    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
}

.footer {
    background-color: #333333;/*the same as topbar's bgcolor*/
    padding: 10px;
    text-align: center;
    color: #f2f2f2;/*the same as logo's color*/
}

#categories {
    list-style-type: none;
    background-color: #333333;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0;
    padding: 10px 0px 10px 0px;

}

.catItem {
    background-color: #333333;
    border: none;
    padding: 12px 4px 12px 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    flex-basis: 10%;
}

#searchCategories {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #333333;

}

#searchinput{
    padding: 10px;
}

.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star,
.rating:hover .rating-star {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../sources/star3.png') 0 -16px;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}